body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
}

section {
    padding: 40px;
}

#about img {
    width: 150px;
    border-radius: 50%;
    margin-top: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #3498db;
    color: white;
    margin: 5px;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
}

.project {
    background: white;
    margin: 15px auto;
    padding: 20px;
    width: 60%;
    border-radius: 8px;
    box-shadow: 0 0 10px gray;
}

a {
    text-decoration: none;
    color: white;
    background: #27ae60;
    padding: 10px 20px;
    border-radius: 5px;
}

footer {
    background: #2c3e50;
    color: white;
    padding: 15px;
}