.home-container,
.quiz-container,
.result-container {
    width: 50%;
    margin: 80px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

button {
    padding: 10px 20px;
    margin-top: 15px;
    background: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #2980b9;
}

.correct {
    background-color: #2ecc71 !important;
}

.wrong {
    background-color: #e74c3c !important;
}
@media (max-width: 768px) {

    .home-container,
    .quiz-container,
    .result-container {
        width: 90%;
        margin: 40px auto;
        padding: 20px;
    }

    h1, h2 {
        font-size: 20px;
    }

    .option-btn {
        font-size: 14px;
        padding: 8px;
    }

    button {
        font-size: 14px;
        padding: 8px 15px;
    }
}
